.time{
    margin: 3px;
    margin-top: 45px;
    padding: 5px;
    border: 2px solid rgb(119, 27, 204);
    border-radius: 5px;
    color: darkviolet;
    background-color: rgb(208, 147, 239);
    
}